# Python
__pycache__/
*.pyc

# Environment files
.env
*.env

# Jupyter checkpoints (if using notebooks)
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Virtual environments
venv/
.env/

# Streamlit cache
.streamlit/config.toml
